@layer image-sizes-extras {
  responsive-img {
    display: grid;
    overflow: var(--responsive-img-clean-edge, hidden);
    isolation: isolate;
  }

  responsive-img [slot="placeholder"] {
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    filter: blur(var(--responsive-img-blur, 1rem));
  }
}
