<responsive-img {{ attributes|without('src') }}>
  <img
    slot="placeholder"
    src="{{ attributes.src }}"
    alt="placeholder"
    width="{{ attributes.width }}"
    height="{{ attributes.height }}"
    aria-hidden="true">
</responsive-img>
